@import "tailwindcss";
@plugin "tailwind-scrollbar";

@plugin "daisyui" {
    themes: light --default;
}

@layer base {
    html {
        background-color: #F4F2EE !important;
    }

    body {
        font-family: "Inter", serif;
        color: black;
    }
}

/* #378fe9 */